<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="AndroidLayouts">
    <shared>
      <config>
        <target>android-24</target>
      </config>
    </shared>
  </component>
  